* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1.5px;
    margin: 2em;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-align: center;
    border-radius: 0.6em;
}

li {
    text-align: left;
}

#news {
    width: 50%;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 1.5em;
    border-radius: 0.6em;
}

li p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: smaller;
    color: black;
}

h1 {
    text-align: center;
    padding: 5px;
}

h2 {
    padding: 5px;
}

select {
    padding: 0.5em;
    border-style: none;
    transition-duration: 0.3s;
    border-radius: 0.5em;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

select:hover {
    background-color: #e7e7e7;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input {
    border-radius: 0.5em;
    padding: 0.5em;
    transition-duration: 0.4s;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input:hover {
    background-color:#e7e7e7;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button {
    padding: 0.65em;
    transition-duration: 0.4s;
    background-color: white;
    border-radius: 0.5em;
    border-style: none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* My customization is inspired by w3schools */
button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

li {
    padding: 0.5em;
    list-style: none;
    list-style-position: inside;
    border-left: solid 1px black;
    padding-left: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 18px;
}

#timeStops li {
    border-style: none;
    list-style: circle;
}

li:hover {
    color: #deb880;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#container {
    display: flex;
    flex-direction: row;
    width: auto;
}

#trips {
    flex: 1;
}

#stops :hover {
    cursor: pointer;
}

#times {
    flex : 1;
    padding-left: 2em;
    margin-left: 10px;
}

/* Zooming effect on image - inspo taken from w3Schools online documentation. */
img {
     width: 50%;
     height: 50%;
     box-shadow: 0 1px 3px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
     border-radius: 0.6em;
     transition: transform .2s;
 }

 img:hover {
     -ms-transform: scale(1.5);
     transform: scale(1.5);
 }

