* {
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    text-align: center;
    padding: 5px;
}

h2 {
    padding: 5px;
}

li {
    padding: 0.5em;
}

#timeStops {
    list-style: none;
}

#container {
    display: flex;
    flex-direction: row;
    width: auto;
}

#trips {
    flex: 1;
}

#times {
    flex : 1;
    padding-left: 2em;
    margin-left: 10px;
}

